@import url('https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap');

.pricing-container {
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    background-image: url("../Images/deliver.png");
    /* background-size: right 1034px; */
    background-position: right center;
    background-repeat: no-repeat;
}

.pricing {
    font-family: K2D;
    font-size: 48px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

.phone-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.phone-system,
.center {
    width: Fixed (500px)px;
    height: Fixed (50px)px;
    top: 128px;
    left: 469px;
    padding: 5px 4px 5px 4px;
    gap: 10px;
    border-radius: 10px;
    border: 1px;
    opacity: 0px;
    color: rgba(217, 217, 217, 1);
    border: 1px solid rgba(255, 255, 255, 0.5)
}

.phone-system {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-family: K2D;
    font-size: 15px;
    font-weight: 700;
    border: 1px;
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.center {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-family: K2D;
    font-size: 15px;
    font-weight: 700;
    border: 1px;
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.bussiness {
    font-family: K2D;
    font-size: 24px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

.pricing-box-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
}

.left-box,
.right-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.plan-section {
    position: relative;
}

.plan-container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(217, 217, 217, 0.7);
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.left-container,
.right-container {
    flex: 1;
}

.vertical-line {
    height: 250px;
    border-left: 0.5px solid rgba(0, 0, 0, 1);
}

.basic {
    font-family: K2D;
    font-size: 24px;
    font-weight: 800;
    color: rgba(0, 0, 0, 1);
}

.price {
    font-family: K2D;
    font-size: 48px;
    font-weight: 800;
    color: rgba(0, 0, 0, 1);
}

.billed {
    font-family: K2D;
    font-size: 13px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.75);
}

.basic-btn {
    width: 200px;
    height: 45px;
    padding: 9px 31px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.features ul {
    padding-left: 40px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    font-family: K2D;
    font-size: 15px;
    font-weight: 700;
    line-height: 19.5px;
}

.user {
    font-family: K2D;
    font-size: 15px;
    font-weight: 100;
    line-height: 19.5px;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 20px;
}

.comparison {
    width: 200px;
    height: 45px;
    margin-top: 40px;
    margin-right: 60px;
    padding: 10px 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    font-family: K2D, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}